#app {
  margin: 0 auto;
}

nav {
  background-color: #009dcf;
  margin-bottom: 30px;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  display: inline-block;
  padding: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
  text-decoration: none;
}

nav a.active {
  color:#009dcf;
  background-color: #aed3e3;
}

form div.form-group {
  margin-bottom: 20px;
}

form div.form-group label {
  margin-bottom: 10px;
}